meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")


if config.google_analytics_id
   script(async, defer, src='https://www.googletagmanager.com/gtag/js?id=#{config.google_analytics_id}')
   script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '#{config.google_analytics_id}');

title 
    block site_title
        = config.title
block description
    meta(name="description", content= config.description ? config.description : 'A Blog Powered By Hexo')

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="icon", href=url_for(theme.favicon))
link(rel="stylesheet", href=url_for("css/apollo.css"))

- var xml = config.url + '/atom.xml'
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)
    
